* {
  background-color: #f3f3f3;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.divider {
  height: 1vh;
  border-top: solid 0.3vh black;
  border-bottom: solid 0.3vh black;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  justify-content: center;
}
